In [1]:
# to do: encapsulate mapping tool into single func

In [1]:
import pandas as pd
import requests
import os.path
import gmaps
from config import g_key

In [2]:
city_data_df = pd.read_csv(os.path.join("weather_data", "cities.csv"))
city_data_df

,City_ID,City,Country,Date,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2021-12-22 23:58:33,-33.9258,18.4232,68.41,79,0,4.00
1,1,Torbay,CA,2021-12-23 00:03:19,47.6666,-52.7314,25.39,87,85,1.01
2,2,Punta Arenas,CL,2021-12-23 00:02:26,-53.1500,-70.9167,60.12,51,82,12.82
3,3,Port Alfred,ZA,2021-12-23 00:03:25,-33.5906,26.8910,66.51,86,96,7.87
4,4,Sivas,TR,2021-12-23 00:03:25,39.7916,37.0019,11.03,85,75,6.91
...,...,...,...,...,...,...,...,...,...,...
498,498,Snezhnogorsk,RU,2021-12-23 00:06:43,69.1933,33.2531,13.78,91,100,12.50
499,499,Iracoubo,GF,2021-12-23 00:06:44,5.4802,-53.2011,77.32,92,100,9.24
500,500,Buchanan,LR,2021-12-23 00:06:44,5.8808,-10.0467,79.29,82,32,4.25
501,501,Abaete,BR,2021-12-23 00:06:45,-19.1600,-45.4458,73.80,79,69,3.38
502,502,Rawson,AR,2021-12-23 00:06:45,-43.3002,-65.1023,64.40,68,0,17.52

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Long          float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
gmaps.configure(api_key=g_key)

## Make a heatmap of locations

### Start with temperature

In [46]:
# Assign locations to an array of lat/long pairs
locations = city_data_df[["Lat", "Long"]]

# Assign weights variable to some values
max_temp = city_data_df["Max Temp"]
        
#Assign a fig to the gmaps.figure() attribute
fig = gmaps.figure(center=(0.0, 0.0), 
                   zoom_level=1.5,
                   layout = {'width': '800px',
                             'height': '500px'})

# #assign heatmap layer variable t o heatmap layer attrib and add other dfs
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=[max(temp,0) for temp in max_temp],
                                 dissipating=False,
                                 point_radius=3,
                                 max_intensity=0.95)

# # #Add the heatmap layer.
fig.add_layer(heat_layer)

# #Call the figure
fig

Figure(layout=FigureLayout(height='500px', width='800px'))

### Humidity

In [49]:
locations = city_data_df[["Lat", "Long"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(0.0, 0.0), 
                   zoom_level=1.5,
                   layout = {'width': '800px',
                             'height': '500px'})

heat_layer = gmaps.heatmap_layer(locations,
                                 weights=humidity,
                                 dissipating=False,
                                 point_radius=3,
                                 max_intensity=0.95)

fig.add_layer(heat_layer)


fig

Figure(layout=FigureLayout(height='500px', width='800px'))

### Cloudiness

In [47]:
locations = city_data_df[["Lat", "Long"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(0.0, 0.0), 
                   zoom_level=1.5,
                   layout = {'width': '800px',
                             'height': '500px'})

heat_layer = gmaps.heatmap_layer(locations,
                                 weights=clouds,
                                 dissipating=False,
                                 point_radius=3,
                                 max_intensity=0.95)

fig.add_layer(heat_layer)


fig

Figure(layout=FigureLayout(height='500px', width='800px'))

### Wind speed

In [50]:
locations = city_data_df[["Lat", "Long"]]
wind_speed = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(0.0, 0.0), 
                   zoom_level=1.5,
                   layout = {'width': '800px',
                             'height': '500px'})

heat_layer = gmaps.heatmap_layer(locations,
                                 weights=wind_speed,
                                 dissipating=False,
                                 point_radius=3,
                                 max_intensity=0.95)

fig.add_layer(heat_layer)


fig

Figure(layout=FigureLayout(height='500px', width='800px'))

## Plot vacation data

In [62]:
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]

What is the minimum temperature you would like for your trip?  65
What is the maximum temperature you would like for your trip?  80

In [63]:
preferred_cities_df.count()

City_ID       174
City          174
Country       173
Date          174
Lat           174
Long          174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [64]:
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Date,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2021-12-22 23:58:33,-33.9258,18.4232,68.41,79,0,4.00
3,3,Port Alfred,ZA,2021-12-23 00:03:25,-33.5906,26.8910,66.51,86,96,7.87
5,5,Rafai,CF,2021-12-23 00:03:25,4.9500,23.9167,72.50,47,99,3.11
7,7,Atuona,PF,2021-12-23 00:03:26,-9.8000,-139.0333,78.89,75,17,20.31
15,15,Ponta Do Sol,PT,2021-12-23 00:03:30,32.6667,-17.1000,67.01,90,81,8.88
...,...,...,...,...,...,...,...,...,...,...
495,495,Bukama,CD,2021-12-23 00:06:42,-9.2000,25.8500,69.37,97,100,2.57
497,497,Kisangani,CD,2021-12-23 00:06:43,0.5167,25.2000,73.74,72,97,1.74
499,499,Iracoubo,GF,2021-12-23 00:06:44,5.4802,-53.2011,77.32,92,100,9.24
500,500,Buchanan,LR,2021-12-23 00:06:44,5.8808,-10.0467,79.29,82,32,4.25
501,501,Abaete,BR,2021-12-23 00:06:45,-19.1600,-45.4458,73.80,79,69,3.38

In [66]:
hotel_df = preferred_cities_df[["City", "Country","Max Temp", "Lat", "Long"]]
hotel_df["Hotel Name"] = ""
hotel_df

C:\Users\espoe\anaconda3\envs\gmaps\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

             City Country  Max Temp      Lat      Long Hotel Name
0       Cape Town      ZA     68.41 -33.9258   18.4232
3     Port Alfred      ZA     66.51 -33.5906   26.8910
5           Rafai      CF     72.50   4.9500   23.9167
7          Atuona      PF     78.89  -9.8000 -139.0333
15   Ponta Do Sol      PT     67.01  32.6667  -17.1000
..            ...     ...       ...      ...       ...        ...
495        Bukama      CD     69.37  -9.2000   25.8500
497     Kisangani      CD     73.74   0.5167   25.2000
499      Iracoubo      GF     77.32   5.4802  -53.2011
500      Buchanan      LR     79.29   5.8808  -10.0467
501        Abaete      BR     73.80 -19.1600  -45.4458

[173 rows x 6 columns]

In [83]:
base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

# g_key

# coords = str(f"{hotel_df.loc[0]["Lat"]}, {hotel_df.loc[0]["Long"]}")
# coords

params = {'key':g_key,
          'location':"48.8566, 2.3522",
            'radius':5000,
           'type':'lodging'}

hotels = requests.get(base_url, params=params).json()
len(hotels)

4